.browsePage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
      to right,
      rgba(167, 232, 189, 0.5),
      rgba(167, 232, 189, 0.5)
    ),
    url(../assets/images/recipe-hero.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .recipes {
    width: 80%;
    height: 55%;

    h1 {
      font-family: Caveat, sans-serif;
      font-weight: bold;
      font-size: 25px;
      top: 167px;
      left: 140px;
      position: absolute;
    }

    .recipe {
      display: flex;
      float: left;
      width: 441px;
      margin-right: 3%;
      margin-bottom: 3%;
      .recipeImg {
        width: 300px;
        height: 263px;
        border-radius: 24px;
        background-size: cover;
        background-position: center;
        display: flex;
      }

      .img1 {
        background-image: url(../assets/images/recipe-pizza.jpg);
      }

      .img2 {
        background-image: url(../assets/images/recipe-burger.jpg);
      }

      .img3 {
        background-image: url(../assets/images/recipe-pilaf.jpg);
      }

      .img4 {
        background-image: url(../assets/images/recipe-chowmein.jpg);
      }

      .recipeInfo {
        width: 224px;
        height: 263px;
        background-color: #fff;
        border-radius: 24px;
        justify-content: center;
        align-content: center;

        .recipeText {
          width: 140px;
          height: 100%;
          margin: 20% auto 0px auto;
          .recipeTitle {
            font-family: Lato, sans-serif;
            font-size: 15px;
            border-bottom: 3px solid #000;
          }

          .recipeCaption {
            font-family: Lato, sans-serif;
            font-size: 9px;
          }

          .recipeTime {
            width: 84px;
            height: 24px;
            margin-bottom: 10%;
            .timeIcon {
              width: 23px;
              height: 24px;
              background-image: url(../assets/images/time.svg);
              display: flex;
              float: left;
              margin-right: 20%;
            }

            .timeText {
              font-family: Lato, sans-serif;
              font-size: 10px;
            }
          }

          .recipeServe {
            width: 84px;
            height: 24px;

            .serveIcon {
              width: 23px;
              height: 24px;
              background-image: url(../assets/images/servings.svg);
              display: flex;
              float: left;
              margin-right: 20%;
            }

            .serveText {
              font-family: Lato, sans-serif;
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
@media all and (max-width: 1000px) {
  .browsePage {
    .recipes {
      width: 95%;
    }
  }
}
