<div class="viewPage">
    <div class="recipeBasics">
        <p class="sidewaysText">supreme pizza</p>
        <div class="recipeImg"></div>
        <div class="recipeDesc">
            <h1>Description:</h1>
            <p>Make pizza night super duper out of this world with homemade pizza. This recipe is supreme with vegetables and two types of meat. Yum!</p>
            <h2>Total Time:</h2>
            <p>1h 24min</p>
            <h2>Servings:</h2>
            <p>4 servings</p>
        </div>
    </div>
    <!--couldnt get this styled properly-->
    <!-- <div class="recipeInfo">
        <div class="recipeIngred">
            <h1>Ingredients:</h1>
            <p>1/4 batch pizza dough</p>
            <p>2 tablespoons Last-Minute Pizza Sauce</p>
            <p>10 slices pepperoni</p>
            <p>1 cup cooked and crumbled Italian sausage</p>
            <p>2 large mushrooms, sliced</p>
            <p>1/4 bell pepper, sliced</p>
            <p>1 tablespoon sliced black olives</p>
            <p>1 cup shredded mozzarella cheese</p>
        </div>
        <div class="recipeInstruct">
            <h1>Instructions:</h1>
            <p>1. Preheat the oven to 475°. Spray pizza pan with nonstick cooking or line a baking sheet with parchment paper.</p>
            <p>2. Flatten dough into a thin round and place on the pizza pan.</p>
            <p>3. Spread pizza sauce over the dough.</p>
            <p>4. Layer the toppings over the dough in the order listed .</p>
            <p>5. Bake for 8 to 10 minutes or until the crust is crisp and the cheese melted and lightly browned.</p>
        </div>
    </div>
    <button class="editBtn" id="edit">Edit Recipe</button> -->
</div>