<div class="loginPage">
    <div class="loginContainer">
        <div class="loginTitle">Login Here!</div>
        <div class="dataForm">
            <input type="text" placeholder="Email Address" />
            <input type="text" placeholder="Password" />
            <button class="loginBtn">Login</button>
        </div>
    </div>
    <div class="signupContainer">
        <div class="signupSubtext">don't have an account?</div>
        <div class="signupTitle">Sign Up!</div>
        <div class="dataForm">
            <input type="text" placeholder="First Name" />
            <input type="text" placeholder="Last Name" />
            <input type="text" placeholder="Email Address" />
            <input type="text" placeholder="Password" />
            <button class="signupBtn">Sign Up</button>
        </div>
    </div>
</div>