<div class="createPage">
    <div class="createContainer">
        <h1 class="createSubtext">Hey, edit your recipe!</h1>
        <div class="recipeBasics">
            <input type="text" placeholder="Add Recipe Image" />
            <button class="addImg">Attach File</button>
            <input type="text" placeholder="Recipe Name" />
            <input type="text" placeholder="Recipe Description" />
            <input type="text" placeholder="Recipe Total Time" />
            <input type="text" placeholder="Recipe Serving Size" />
        </div>
        <div class="recipeIngred">
            <h1>Enter Ingredients:</h1>
            <input type="text" placeholder="Ingredient #1" />
            <input type="text" placeholder="Ingredient #2" />
            <input type="text" placeholder="Ingredient #3" />
            <button class="addIngred">+</button>
        </div>
        <div class="recipeInstruct">
            <h1>Enter Instructions:</h1>
            <input type="text" placeholder="Instruction #1" />
            <input type="text" placeholder="Instruction #2" />
            <input type="text" placeholder="Instruction #3" />
            <button class="addInstruct">+</button>
        </div>
        <button class="createRecipe">Submit Changes</button>
    </div>
</div>